.bg {
  background-image: url(./images/food-bg.png);
  background-repeat: no-repeat;
}

.all-content {
  color: white;
  border-radius: 10px;
  backdrop-filter: blur(20px);
  background-color: rgba(0,191,255, 0.075);
  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255,255,255,0.4) solid;
  /* border-bottom: 2px rgba(40,40,40,0.35) solid;
  border-right: 2px rgba(40,40,40,0.35) solid; */
}

.c-view-menu {
  color: #ffffff;
  border: 1px solid none;
  background-color: #000000;
  padding: 5px 15px 5px 25px;
  border-radius: 8px 18px 0px 12px;
}

/* .seekPng {

}

.seekPng-1 {

} */