.bg {
  background-image: url(./images/food-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  /* border-radius: 30px; */
}

.all-content {
  color: white;
  /* border-radius: 0px; */
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);

  background-color: rgba(229, 229, 229, 0.230);

  box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px;
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 2px rgba(40, 40, 40, 0.35) solid;
  border-right: 2px rgba(40, 40, 40, 0.35) solid;
}

.c-view-menu {
  color: #ffffff;
  border: 1px solid none;
  background-color: #000000;
  padding: 7px 15px 7px 25px;
  border-radius: 8px 18px 0px 12px;
}

.vector {
  background-color: rgba(255, 241, 224, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 10px;
  border-radius: 15px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */

}

@media only screen and (min-width: 768px) {
  /* For desktop: */
}

/**  
.c-card {
  position: relative;
  height: 15rem;
  /* background: rgba(255, 241, 224, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  
  border-radius: 0 0 3rem 3rem;
}


.c-card::before {
  content: "";
  position: absolute;

  width: 100%;
  height: 100%;
  background-color: rgba(255, 241, 224, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);

  border-radius: 30px;
}

.custom-img {
  position: absolute;  
  right: 0;
  left: 0;
  top: -50%;
}

.custom-text {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

*/

.c-slider {
  /* box-sizing: border-box; */
  margin-left: 10px;
  margin-right: 10px;

  background-image: linear-gradient(#0000 35%, rgba(255, 241, 224, 0.3) 35%, rgba(255, 241, 224, 0.3) 90%, #0000 0%);

  /* border-radius: 40px; */
  /* max-width: fit-content; */
  /* backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px); */

}

.c-slider:nth-child(even) {
  margin-top: 50px;
}

.bi-cart-plus {
  background-color: rgba(0, 0, 0, 0.250);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 10px 20px 5px 20px;
  border-radius: 15px;
}

.display {
  height: 31rem;
  width: 15rem;
  background-color: rgba(255, 241, 224, 0.550);
  border-radius: 30px;
  box-sizing: border-box;
  padding: 20px;
}

.vector-d {
  background-color: rgba(255, 241, 224, 0.3);
  padding: 10px;
  border-radius: 15px;
}

.bi-d {
  background-color: rgba(0, 0, 0, 0.250);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 6px 10px 6px 10px;
  border-radius: 10px;
}

.display-w {
  width: 40%;
}

.d-bg {

  background-color: rgba(255, 241, 224, 0.2);
  backdrop-filter: blur(6px);
  -webkit-backdrop-filter: blur(6px);
  padding: 10px;
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  padding-bottom: 1rem;
  margin-top: 2rem;
}

.display-1-last {
  position: absolute;
  right: -40px;
  bottom: -15px;
}

.display-2-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 180%;
  left: -110px;
  bottom: 140px;
  position: absolute;
}

.display-2-text {
  bottom: 80px;
}

.display-2-c-view-menu {
  position: absolute;
  right: -235px;
  bottom: 10px;
  color: #ffffff;
  border: 1px solid none;
  background-color: #000000;
  padding: 7px 25px 7px 25px;
  border-radius: 8px 35px 5px 25px;
}

.app-link {
  box-sizing: border-box;
  background: #000;
  height: 40px;
  width: 120px;
  border: 1px solid;
  border-radius: 5px;
}

.playstore {
  width: 35%;
  margin-top: -1px;
}

.Available-on {
  position: absolute;
  font-size: 8px;
  margin-top: -10px;
}

.goole-play {
  margin-top: 13px;
}